body {
  background: #b4d491;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #0e0e0e;
  margin-top: 2rem;
}

.wrap {
  display: inline-block;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

ul:after {
  clear: both;
}

ul:before,
ul:after {
  content: " ";
  display: table;
}

nav {
  position: relative;
  background: #444444;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0e0e0e;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3d3d3d;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #000;
}

ul.sub {
  position: absolute;
  box-shadow: 2px 2px 0 #bebebe;
  width: 35%;
  display: none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

ul.primary li:hover ul {
  display: block;
  background: #fff;
}

ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }

  .wrap {
    width: 100%;
    margin-top: 0px;
  }

  li {
    float: none;
  }

  ul.primary li:hover a {
    background: none;
    color: #8b8b8b;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }

  ul.sub {
    display: block;
    position: static;
    box-shadow: none;
    width: 100%;
  }

  ul.sub li a {
    background: #272727;
    border: none;
    color: #8b8b8b;
  }

  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

img {
  width: 450px;
  height: 650px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 80px;
  border: dimgray;
  border-style: double;
}
